<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063192340758-qbmq430ap2uj7jtvph3upbjilojjrpf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063192340758-qbmq430ap2uj7jtvph3upbjilojjrpf6</string>
	<key>API_KEY</key>
	<string>AIzaSyAyvkDwm-DSZMa0b5yHPfVKLDpSu4RAgu0</string>
	<key>GCM_SENDER_ID</key>
	<string>1063192340758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.morfincan</string>
	<key>PROJECT_ID</key>
	<string>morfincan-f2516</string>
	<key>STORAGE_BUCKET</key>
	<string>morfincan-f2516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063192340758:ios:aeaedb89884bf85b4b8837</string>
	<key>DATABASE_URL</key>
	<string>https://morfincan-f2516.firebaseio.com</string>
</dict>
</plist>